/* google font work sans  */
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:ital,wght@0,800;1,700&family=Work+Sans:wght@400;500;700;800&display=swap');
*{
    font-family: 'Cookie', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}

/* header style  */
header{
    background: rgba(255, 144, 14, 0.10);
     
}
/* nav style  */
nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 200px;
}
/* style of ul in nav  */
nav > ul{
    display: flex;
    padding-right: 150px;
    font-size: 18px;
    font-weight: 500;
   
}
/* style of li in ul  */
 nav li{
    list-style: none;
    margin: 30px;
   
   
 }
 /* style of a in li  */
 nav li a{
    text-decoration: none; 
    color:#424242;
 }

 .nav-title{
    color:  #131313;
font-size: 45px;
font-weight: 700;
 
 }

 /* banner style  */

 .banner-text{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
 }

 .banner-ttl{
    color:#131313;
font-size: 64px;
font-style: normal;
font-weight: 700;
}

.banner-para{
    color: #727272;
font-size: 16px;
font-style: normal;
font-weight: 400;
}

.bttn-pr{
    width: 180px;
height: 64px;
border-radius: 8px;
background: #FF900E;

color: #FFF;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 600;
border: 0;
cursor: pointer;
}

.btn-align{
    margin-top: 20px;
    margin-bottom: 30px;
}

/* banner img  */

   .banner-img{
    width: 1240px;
/* height: 500px; */
flex-shrink: 0;
margin-left: 150px;
/* margin-right: 150px;  */
margin-bottom: 35px;
   }





/* main section  */
main{
    max-width: 1440px;
    margin: 0 auto;
}
.main-sec-one{
    margin-top: 50px;
    display: flex;
    align-items: center;

}
/* four img of main section  */
.grid-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
   /* heading of main section  */
.grid-txt{
    padding-right: 70px;
    padding-left: 70px;
}

/* paragraph of main section three diff color */

.titl-grey{
    color: #727272;
font-size: 45px;
font-style: normal;
font-weight: 500;
 
}

.title-blk{
    color:  #131313;
 
font-size: 45px;
font-style: normal;
font-weight: 700;
 
}

.title-org{
    color: #FF900E;
 
font-size: 45px;
font-style: normal;
font-weight: 700;
 display: block;
}
   /* paragraph of main section  */
.grid-txt-para{
    color: #727272;
 
font-size: 16px;
font-style: normal;
font-weight: 400;
width: 537px;
}

/* features style  */

.some-facts{
    margin-top: 40px;
    margin-bottom: 15px;
}

.fact-cart{
    margin-top: 75px;
}

.facts-heading{
    color:   #131313;
 
font-size: 45px;
font-style: normal;
font-weight: 700;
 
}

.facts-para{
    color:   #727272;
 
font-size: 16px;
font-style: normal;
font-weight: 400;
width: 542px;
}
.fact-cart{
    display: flex;
    justify-content: space-around;
}
.cart{
    border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;
width: 241.831px;
height: 241.831px;
 padding-top: 45px;
}

.cart-head{
    color:   #424242;
 
font-size: 45px;
font-style: normal;
font-weight: 600;
 
}
.cart-para{
    color:   #727272;
 
font-size: 20px;
font-style: normal;
font-weight: 600;
 
}

/* sponsor style  */

.spon-img{
    display: flex;
    justify-content: space-around;
}

.spon-div{
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
     
}

.spon-ttl{
    color:   #131313;
 
font-size: 45px;
font-style: normal;
font-weight: 700;
 
}

.spon-para{
    
     
    color:   #727272;
font-size: 16px;
font-style: normal;
font-weight: 400;
 
}

/* features  */
.features{
    display: flex;
    margin: 70px 30px;
    gap: 70px;
}

.new-cart{
    border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.13);
width: 586px;
height: 171px;
 
}

.cart-new-head{
    color: #131313;
 
font-size: 20px;
font-style: normal;
font-weight: 600;
 
}
.cart-new-para{
    color: #727272;
    width: 514px;
font-size: 16px;
font-style: normal;
font-weight: 400;
 
}

 .feature-heading{
    width: 468px;
    color:  #131313;
font-family: Work Sans;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-left: 4px solid orangered;
padding-left: 15px;
 }
 .features-para{
    width: 586px;
    color:  #727272;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
 }


 /* 10 years badge  */
 .ten-years{
    border-radius: 8px;
background: #FF900E;
color: #FFF;
width: 342px;
height: 200px;
position: relative;
bottom: 100px;
 }
   .ten-years h1{
    color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 65px;
font-style: normal;
font-weight: 700;
line-height: 70px; /* 107.692% */
padding-top: 40px;
padding-left: 40px;
padding-right: 40px;
margin: 0;
   }

   .ten-years p{
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
     margin-top: 0px;
    
   }
   .feature-img img{
    margin-left: 45px;
   }

   /* footer part last part  */

footer{
     
height: 100px;
border-radius: 8px;
background: #FFF4E7;
margin: 40px 40px;
 text-align: center;
 
}
small{
    color:   #424242;
     
    
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
     padding-top: 40px;
   
}

 

  /* this area only for resp  */
   /* responsive small nav part  */

   @media screen and (max-width: 576px) {
  
    .banner-img {
    width: 350px;
    margin-left: 0px;
    padding-left: 15px;
   }

   nav{
    flex-direction: column;
     padding: 0;
   }
   
   nav ul{
    flex-direction: column;
    padding-right: 0;
   }

   nav li{
    margin: 10px;
    padding-right: 30px;
   }
}

/* responsive for medium device  */

@media screen and (min-width: 576px) and (max-width: 960px) {
    .banner-img {
        width: 600px;
        margin-left: 0px;
        padding-left: 100px;
       }
    
       nav, .main-sec-one{
        flex-direction: column;
         padding: 0;
       }
       
       nav ul{
        /* flex-direction: column;  */
        padding-right: 0;
        padding-left: 200px;
       }
    
       nav li{
        margin: 10px;
        padding-right: 30px;
       }
}



/* responsive  main section part one   small device  medium device to up*/

   @media screen and (max-width: 576px) {
    .main-sec-one{
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
    }
    .main-sec-one{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-img{
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-txt{
       padding-right: 0;
       padding-left: 0;
       
    }

    .grid-txt-para{
        width: auto;
    }
   }

   /* facts area respo small dv  */
   @media screen and (max-width: 576px){
    .facts-para{
        width: auto;
    }
    .fact-cart{
        flex-direction: column;
        padding-left: 60px;
        padding-right: 50px;
        gap: 5px;
    }
   }

   /* facts area respo mid dv  */
   @media screen and (min-width: 576px) and (max-width: 960px) {
    .some-facts{
        padding: 30px;
    }
    .fact-cart{
        gap: 5px;
    }
   }
   /* responsive sponsor small d */
   @media screen and (max-width: 576px) {
    .spon-img{
        flex-direction: column;
    }
    .spon-img-alig{
        padding: 50px;
        width: 150px;
        margin-left: 55px;
         
    }
   }

   /* mid div  */
   @media screen and (min-width: 576px) and (max-width: 960px) {
    .spon-img{
          padding-right: 25px;
         
    }
   }

   /* next  */
   @media screen and (max-width: 576px) {
    .features{
        flex-direction: column;
    }
    .new-cart{
        width: auto;
    }
    .cart-new-para{
        width: auto;
    }
    .features-para{
        width: auto;
    }
    .feature-heading{
        width: auto;
    }
    .feature-img img{
        margin-left: 0;
        width: 300px;
    }
   }

   @media screen and (min-width: 576px) and (max-width: 960px) {
    .features{
        flex-direction: column;
    }
    .new-cart{
        width: auto;
    }
    .cart-new-para{
        width: auto;
    }
    .features-para{
        width: auto;
    }
    .feature-heading{
        width: auto;
    }
    .feature-img img{
        margin-left: 0;
        width: 300px;
    }
   }

   /* its done responsive for small and mid device checked for pixel 5 small plus rotate screen & pc screen 15 inch  */
   /* PH batch 8 project by Clement Lotus Mollick  */